<div class="container" style="background-color: white">
  <br>
  <div class="row col-md-14">
    <div class="content_img">
      <a [routerLink]="['/showitems/shoes']">
      <img src="{{shoes}}" width='100%' height='100%'>
      <div>Shoes</div>
      </a>
    </div>
    <div class="content_img">
        <a [routerLink]="['/showitems/jeans']">
        <img src="{{jeans}}" width='100%' height='100%'>
        <div>Jeans</div>
        </a>
    </div>
    <div class="content_img" (click)="formalpaintss()">
      <img src="{{formalpaints}}" width='100%' height='100%'>
      <div>Formalpaints</div>
    </div>
    <div class="content_img" (click)="perfumess()">
      <img src="{{perfumes}}" width='100%' height='100%'>
      <div>Perfumes</div>
    </div>
    <div class="content_img" (click)="shirtss()">
      <img src="{{shirts}}" width='100%' height='100%'>
      <div>Shirts</div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="row col-md-16">
    <div class="row col-md-6">
      <div class="contentimg" (click)="addidass()">
        <img src="{{addidas}}" width='100%' height='100%'>
        <div>addidas</div>
      </div>
    </div>
    <div class="row col-md-6">
      <div class="contentimg" (click)="pumas()">
        <img src="{{puma}}" width='100%' height='100%'>
        <div>puma</div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <div class="row col-md-6">
      <div class="contentimg" (click)="leviss()">
        <img src="{{levis}}" width='100%' height='100%'>
        <div>levi's</div>
      </div>
    </div>
    <div class="row col-md-6">
      <div class="contentimg" (click)="peterenglands()">
        <img src="{{peterengland}}" width='100%' height='100%'>
        <div>Peter England</div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <div class="row col-md-6">
      <div class="contentimg" (click)="parkavenues()">
        <img src="{{parkavenue}}" width='100%' height='100%'>
        <div>Park avenue</div>
      </div>
    </div>
    <div class="row col-md-6">
      <div class="contentimg" (click)="reeboks()">
        <img src="{{reebok}}" width='100%' height='100%'>
        <div>reebok</div>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br>
    <div class="row col-md-6">
      <div class="contentimg" (click)="nikes()">
        <img src="{{nike}}" width='100%' height='100%'>
        <div>nike</div>
      </div>
    </div>

  </div>
</div>