<form class="form-group" [formGroup]="userForm" (ngSubmit)="onFormSubmit()">

  category:
  <select class="form-control" formControlName="category">
  <option *ngFor="let pf of category" [ngValue]="pf.name">
    {{ pf.name }}
  </option>
  </select>  
  brand:
  <select class="form-control" formControlName="category">
  <option *ngFor="let pf of brand" [ngValue]="pf.name">
    {{ pf.name }}
  </option>
  </select>  

  name:
  <input class="form-control" formControlName="name" placeholder="Enter Name">

  

  unitPrice:
  <input class="form-control" formControlName="unitPrice" placeholder="Enter Name">
  
  image:
    <input  class="form-control" type="file" formControlName="productImage" (change)="onFileChange($event)" #fileInput>
    <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
  

  <button class="btn btn-primary" type="submit">Submit</button>
</form>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>category</th>
                <th>name</th>
                <th>brand</th>
                <th>unitPrice</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of item " class="row col-md-12" class="success">
                <td>{{item.category}}</td>
                <td>{{item.name}}</td>
                <td>{{item.brand}}</td>
                <td>{{item.unitPrice}}</td>
                <td>
                    <button type="button" class="btn btn-default btn-sm" (click)="addtocart(item)">
                        <span class="glyphicon glyphicon-pencil"></span> Add to cart
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>